<a href="https://colab.research.google.com/github/EpachonJr/MyProjects/blob/master/Analisando_Acoes_com_Python_Rankeando_Empresas_Valiosas_que_est%C3%A3o_Baratas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando Bibliotecas

In [0]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

# Obtendo e tratando os dados

In [0]:
url = 'https://www.fundamentus.com.br/resultado.php'
df = pd.read_html(url, decimal=',', thousands='.')[0]

In [9]:
df

     Papel  Cotação       P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0    PMET3     0.00      0.00  ... -2.908630e+08               0.00        37,74%
1    CSTB3   150.00      0.00  ...  8.420670e+09               0.14        31,91%
2    MNSA4     0.47      0.00  ... -9.105000e+06              -6.52       -41,11%
3    CLAN3     0.00      0.00  ...  1.012240e+09               0.00       -63,96%
4    PORP4     2.40      0.00  ...  2.239900e+07               0.00        13,66%
..     ...      ...       ...  ...           ...                ...           ...
881  UBBR3    18.00   1466.61  ...  1.031720e+10               0.00        10,58%
882  CEPE6    19.30   7941.74  ...  1.629050e+06               2.86       -72,98%
883  CEPE3    24.53  10093.80  ...  1.629050e+06               2.86       -72,98%
884  CEPE5    25.11  10332.50  ...  1.629050e+06               2.86       -72,98%
885  FRTA3     5.60  18770.80  ... -6.797200e+04              -0.79       -84,60%

[886 rows x 21 columns]

In [0]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

# Analisando os dados

In [0]:
df = df[df['Liq.2meses'] > 500000]

In [0]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values
ranking['P/VP'] = df[ df['P/VP'] > 0 ].sort_values(by=['P/VP'], ascending=True)['Papel'][:150].values

In [82]:
ranking

     pos EV/EBIT   ROIC    P/VP
0      1   PSSA3  WIZS3   SGPS3
1      2  SULA11  PSSA3   OIBR3
2      3   SMLS3  TOTS3   LLIS3
3      4   WIZS3  SMLS3   TPIS3
4      5   ENAT3  ODPV3   TESA3
..   ...     ...    ...     ...
145  146   ROMI3  ELET6   LPSB3
146  147   ANIM3  ALSO3   KLBN4
147  148   GNDI3  DTEX3   SUZB3
148  149   MEAL3  MDNE3  KLBN11
149  150   PNVL3  PRNR3   BIDI4

[150 rows x 4 columns]

In [0]:
# Rankeando por EV/EBIT

In [0]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [0]:
# Rankeando por ROIC

In [0]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [0]:
# Rankeando por P/B

In [0]:
c = ranking.pivot_table(columns='P/VP', values='pos')

In [0]:
# Juntando rankings

In [86]:
t = pd.concat([a,b,c])
t

     AALR3  ABEV3  AGRO3  ALPA4  ALSO3  ...  SUZB3  TAEE11  TCSA3  TESA3  TPIS3
pos  101.0   93.0   92.0  145.0  108.0  ...    NaN     NaN    NaN    NaN    NaN
pos  132.0   11.0   94.0   23.0  147.0  ...    NaN     NaN    NaN    NaN    NaN
pos   45.0    NaN   72.0    NaN   69.0  ...  148.0   129.0   17.0    5.0    4.0

[3 rows x 193 columns]

In [0]:
# Retirando dados nulos e somando colocações por variável

In [87]:
rank = t.dropna(axis=1).sum()
rank

AALR3     278.0
AGRO3     258.0
ALSO3     324.0
ALUP11    132.0
AMAR3      81.0
          ...
VIVT4     303.0
VLID3     144.0
VULC3     147.0
WSON33    126.0
YDUQ3     236.0
Length: 102, dtype: float64

In [0]:
# Calculando Top 20

In [88]:
rank.sort_values()[:20]

AMAR3      81.0
SMLS3     101.0
SAPR4     103.0
SAPR11    107.0
SAPR3     110.0
TUPY3     112.0
ENAT3     115.0
PETR4     115.0
PETR3     117.0
PFRM3     117.0
VALE3     121.0
CMIG4     124.0
WSON33    126.0
CSMG3     127.0
PSSA3     128.0
CMIG3     132.0
ALUP11    132.0
CSNA3     133.0
RAPT4     140.0
CVCB3     143.0
dtype: float64